ul {
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    list-style: none;
}
.menu_nav {
    color: #00b8d9;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    text-decoration:none;
    display:block;
    padding: 30px 15px;
}
.homepage {
    background-image: url(../img/point_bg.png),
    url(../img/pc_bg.png);
    height: 1315px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 49% 0%;
    /* width: 97%; */
    background-size: cover, 100% 80%;
    overflow: hidden;
    background-attachment: scroll;
}
.logo img {
    width: 26%;
}
.homepage_main {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 3;
    text-align: center;

}

.line {
    background-color: #00b8d9;;
    height: 126px;
    width: 1px;
    border: 0;
    margin-block-start: 0;
}
h2 {
    font-family: 'Oswald', sans-serif;
    color: #00b8d9;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 30px 0px;
    font-size: 3rem;
}
.team h2 {
    text-transform: none;
}
.anotherH {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 30px 0px;
    font-size: 3rem;
}
h1 {
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    font-size: 1.5rem;
    color: #666666;
}
.database img {
    padding: 1%;
}
.backend img {
    padding-top: 1%;
}
.our_advantages {
    display: flex;
    justify-content: center;

}

.our_advantages-desk {
    width: 25%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}
.our_advantages-desk p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.our_advantages-desk a {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #00b8d9;
    text-decoration: none;
}
.team {
    background-color: #f1f1f1;
}
.ourTeam {
    padding: 30px 15px;
    display: flex;
    justify-content: center;
}
.teamName {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #00b8d9;
    text-decoration: none;

}
.ourTeam-members {
    text-align: center;
    padding: 30px 15px;
    min-width: 20%;
    font-family: 'Open Sans', sans-serif;
}
.technology {
    background-color: #333333;
    text-align: center;
    background-image: url("../img/point_bg_technology.png");
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.technology_line {
    border-bottom: 1px solid #5c5c5c;
    width: 20%;
}
.slider {
    height: 90vh;
    padding-top: 8%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
.testimonials {
    background-color: #fff;
    background-image: url(../img/point_bg_testimonials.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
}
.contact {
    background-color: #eeeeee;
    height: 91vh;
}
.contact-form {
    background-color: #333333;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 5px 46px 0px rgba(0, 0, 0, 0.43);
}

form {
    padding: 5% 2% 5% 10%;
}
.form_label {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
}
.form_inp {
    border: none;
    border-bottom: 1px solid rgba(238, 238, 238, 0.63);
    background-color: transparent !important;
    width: 75%;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #ffffff;
}

.form_inp:focus {
    outline: none;
    border-bottom: 1px solid #00b8d9;
}

.form_inp:focus ~ .form_label,
.form_label:active{
    font-weight: bold;
    color: #00b8d9;
}

form p {
    float: left;
    width: 49%;
}
form p:nth-last-child(2) {
    clear: both;
    width: 100%;
    margin-top: 7%;
    }
form p:not(:nth-child(2n)) {
    margin-right: 2%;

}
#message {
    width: 88%;
}
.btn {
    background-color: #00b8d9;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border: none;
    padding: 2%;
    width: 30%;
    margin-top: 2%;
    margin-right: 10%;
}
.Absolute-Center {
    text-align: center;
}
.footer {
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}
.footer-contact{
    text-align: left;
    padding: 30px 15px;
    min-width: 20%;
}
.footer-contact img{
    float: left;
    margin-left: -22%;
    margin-top: 4%;
}
.footer-contact p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.slides a {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #00b8d9;
    text-decoration: none;
}
.slideLine {
    margin-left: 0;
}
.slides {
    padding: 2%;
    /*position: relative;*/
}
.anotherWay {

    position: relative;
}
.slidesDown {
    position: absolute;
    bottom: 26%;
    left: 2%;
}
.ourTeam-members img {
    border-radius: 50%;
}